<%- include("./partials/header.ejs") %>
    <div class="container">
        <div class="stopwatch">
            <div class = "stpwtc">
                <h2 class="stopwatch-heading">Time since you started studying</h2>
                <div class="stopwatch-inner">
                    <div id="stopwatch-display">00:00:00</div>
                    <div class="button-group">
                        <button id="start-btn">Start</button>
                        <button id="pause-btn">Pause</button>
                        <button id="reset-btn">Reset</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="flow-state" id="flow-state-msg">
            
        </div>

        <div class="get-quote">
            <h2><%= quote%></h2>
            <p>&emsp;&emsp;&emsp;&emsp; -<%= author%></p>
        </div>
        <div class="to-do-list">
            <h2 class="todo-heading">Your To-Do List</h2>
            <form id="todo-form">
                <input type="text" id="todo-input" placeholder="Add a new task..." required />
                <button type="submit">Add</button>
            </form>
            <ul id="todo-items"></ul>  
        </div>

    </div>
    
<%- include("./partials/footer.ejs") %>