<%- include("./partials/header.ejs") %>
    <div class="container">
        <div class="timer">
            
        </div>
        <div class="flow-state">

        </div>
        <div class="get-quote">

        </div>
        <div class="to-do-list">

        </div>

    </div>
<%- include("./partials/footer.ejs") %>