<%- include("./partials/header.ejs") %>
    <div class="container">
        <div class="stopwatch">
            <div id="stopwatch-display">00:00:00</div>
            <button id="start-btn">Start</button>
            <button id="pause-btn">Pause</button>
            <button id="reset-btn">Reset</button>
        </div>
        <div class="flow-state">

        </div>
        <div class="get-quote">

        </div>
        <div class="to-do-list">

        </div>

    </div>
<%- include("./partials/footer.ejs") %>