.head{
    display: block;
    width: 100%;
}
.please-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.head > *{
    text-align: center;
    margin-top: 1%;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 0.5rem;                             
}
.head > h1{
    margin-bottom: 0;
    letter-spacing: 0.2rem;
    display: block;
}
.head > p{
    margin-top: 0;
}
.nav-line{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(0, 0, 0);
    height: 0.2rem;
    opacity: 1;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  grid-template-rows: repeat(3, 1fr); 
  gap: 2rem;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  grid-column-gap: 2rem;
}
#stopwatch-display {
    font-size: 3em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
}

.stopwatch {
  grid-column: 1;
  grid-row: 1;
  background-color: #ccc;
  border-radius: 20px;
}

.flow-state {
  grid-column: 1;
  grid-row: 2;
  background-color: #bbb;
  border-radius: 20px;
}

.get-quote {
  grid-column: 1;
  grid-row: 3;
  background-color: #aaa;
  border-radius: 20px;
}


.to-do-list {
  grid-column: 2;
  grid-row: 1 / span 3;
  background-color: #999;
  border-radius: 20px;
}
